/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    background-color: #f4f0eb; /* Cor de fundo da página */
    min-height: 100vh; /* Preenche a altura total da viewport */
    width: 99.1%;
    margin: 0;
    padding: 0;
    position: absolute;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1900px;
}

.navbar{
    width: 100%;
    max-width: 1900px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #dbe6c7;
    padding: 0.6rem;
    margin: 0;
    height: 4.5rem;
}

nav ul {
    display: flex;
    justify-content: left;
     /* Centraliza os itens verticalmente */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 1rem; /* Adiciona um pouco de espaço em volta de cada item */
    display: flex;
    align-items: center;
}

nav img {
    height: 3rem; /* Define a altura da imagem */
    vertical-align: middle; /* Alinha a imagem verticalmente com o texto */
}

nav a {
    font-size: larger;
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #202e11; /* Cor do texto dos links */
}

/* Estiliza os títulos h1 */
h2 {
    color: #202e11; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.2rem; /* Espaçamento entre letras */
    display: inline-block;
    vertical-align: middle;
}

h2 img{
    width: 9%;
    height: 9%;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

/* Estiliza as seções da página */
.section-pesquisa{
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    justify-content: center;
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    
}

.container-banner{
    width: 100%;
    max-width: 1900px;
    padding: 0;
    display: flex;
    justify-content: right;
}

.banner-1{
    height: auto;
    max-width: 40%;
    margin-bottom: 0; /* Espaçamento abaixo de cada seção */
}

.banner-2{
    height: auto;
    max-width: 40%;
    margin-bottom: 0; /* Espaçamento abaixo de cada seção */
}


/* Estiliza os inputs dentro das seções */
section input {
    width: 40rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    margin-right: 1rem;
    color: #45474B; /* Cor do texto */
    background-color: #d3e2b6;
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #3A5A40; /* Cor de fundo do botão */
    color: #FEFAE0; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #344E41; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

.section-resultado{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    display: flex;
    flex-direction: row;
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 0.5rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.3rem; /* Tamanho da fonte */
    color: #3A5A40; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.item-resultado p{
    font-size: medium;
}

.img-resultado{
    height: 30vh;
    width: 25vh;
    margin-right: 1.2rem;
    border-radius: 0.6rem;
    margin-top: auto;
    margin-bottom: auto;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #182920; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

.item-erro {
    background: #FFFFFF; /* Cor de fundo dos itens */
    width: 20rem;
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 0.8rem; /* Espaçamento interno */
    margin-bottom: 0.5rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    font-size: medium;
}

.img-aviso{
    height: 27rem;
}

/* Estiliza o rodapé da página */
footer {
    width: 100%;
    max-width: 1900px;
    background-color: #eefad7; /* Cor de fundo do rodapé */
    color: #45474B; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0.4rem; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: relative; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 0.8rem; /* Tamanho da fonte */
}


@media (max-width: 768px) {
    .navbar{
        height: 3rem;
    }

    nav h2{
        font-size: 0.6rem;
    }

    nav a{
        font-size: 0.6rem;
    }

    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    h2{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    h3{
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    section input {
        width: auto;/* Largura dos inputs em telas menores */
        padding: 0.7rem; /* Espaçamento interno em telas menores */
        padding: 0.5rem; /* Espaçamento interno */
        margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
        margin-right: 0.5rem;
        font-size: 0.8rem; /* Tamanho da fonte */
    }

    .input{
        width: 85%;
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.2rem; /* Tamanho da fonte dos títulos em telas menores */
    }

    .item-resultado p{
        font-size: 0.5rem;
    }

    .descricao-meta{
        font-size: 0.7rem;
    }

    .item-erro{
        font-size: 0.6rem;
    }

    .img-aviso{
        height: 13rem;
    }
    
    .img-resultado{
        width: 3rem;
        height: 5rem;
        margin-top: 1rem;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    .navbar{
        height: 2.8rem;
    }

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    h2{
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.1rem;
    }

    h3{
        font-size: 0.8rem;
        letter-spacing: 0.08rem;
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.4rem 0.7rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.5rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.2rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    .item-resultado p {
        font-size: 0.7rem;
    }

    .link{
        font-size: 0.5rem;
        margin-top: 1rem;
    }

    .descricao-meta{
        font-size: 0.6rem;
    }

    .img-resultado{
        width: 3rem;
        height: 5rem;
        margin-top: 1rem;
    }

    .item-erro{
        font-size: 0.6rem;
        width: 14rem;
        padding: 0.5rem;
        margin-bottom: 0.1rem;
    }

    footer {
        font-size: 0.4rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}


